
body {
  text-align: center; /* Center align elements */
}

button {
  background-color: #076224; /* Green background */
  color: white; /* White text color */
  font-size: 24px; /* Large font size */
  padding: 15px 32px; /* Padding to make the button larger */
  margin: 10px 0; /* Add some space between the buttons */
  border: none; /* Remove border */
  border-radius: 5px; /* Slightly round corners */
  cursor: pointer; /* Pointer cursor on hover */
  display: block; /* Block display to stack buttons */
  width: 50%; /* Set a width to the buttons */
  margin-left: auto; /* These two margins together center the block */
  margin-right: auto;
}

/* Change button color slightly when hovered for better user experience */
button:hover {
  background-color: #076224;
}
